html,
body {
  --landmark-primary: rgb(21, 134, 174);
  --font-placeholder: #999;

  background: var(--landmark-primary);
}

@font-face {
  font-family: HPBaukasten;
  src: url(../homepagebaukasten-bold-font/HomepagebaukastenBook-3nYL.ttf);
}

body {
  margin: 20px;
}
